<!DOCTYPE html>
<head>
    <title>CS6460 Project</title>
    <link rel="icon" href="{{ url_for('static', filename='chat.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://kit.fontawesome.com/78e1b96a9f.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://astica.ai/javascript-sdk/2023-04-10/astica.api.js"></script>
    <script src="{{ url_for('static', filename='utils.js') }}"></script>
    <style>
      .spacer-box {
        height: 3rem;
      }
      html {
        background-color: #3e8ed0;
      }
    </style>
</head>
<body>
  <div class="background"></div>
  <div class="spacer-box"></div>  
  <div class="container has-text-centered">
        <div class="box">
            <div class="content">
                <div class="columns">
                  <div class="column is-2"></div>
                  <div class="column is-8">
                    <h1 class="title is-2">PolyTalk: A Multimodal Conversation Interface for Personalized Foreign Language Learning</h1>
                  </div>
                  <div class="column is-3"></div>
                </div>
                <h1 class="title is-5">Created by Owen Sizemore</h1>
                {% if not language %}
                <p>Choose a conversation language to get started:</p>
                <form method="POST" action="/">
                  <div class="field has-addons has-addons-centered">
                    <div class="control">
                        <input class="input" type="text" name="language" placeholder="English"/>
                    </div>
                    <div class="control">
                        <button class="button is-info" type="submit">Go</button>
                    </div>
                  </div>
                </form>
                {% endif %} <!-- endif not language -->
                {% if language %}
                <p>Your selected language is: <strong>{{ language }}</strong></p>
                {% if not level %}
                <p>Select your language proficiency level:</p>
                <form method="POST" action="/">
                  <button class="button is-info is-outlined" type="submit" name="level" value="A1 (Beginner)">A1 (Beginner)</button>
                  <button class="button is-info is-outlined" type="submit" name="level" value="A2 (Elementary)">A2 (Elementary)</button>
                  <button class="button is-info is-outlined" type="submit" name="level" value="B1 (Intermediate)">B1 (Intermediate)</button>
                  <button class="button is-info is-outlined" type="submit" name="level" value="B2 (Upper Intermediate)">B2 (Upper Intermediate)</button>
                  <button class="button is-info is-outlined" type="submit" name="level" value="C1 (Advanced)">C1 (Advanced)</button>
                  <button class="button is-info is-outlined" type="submit" name="level" value="C2 (Proficient)">C2 (Proficient)</button>
                </form>
                {% endif %} <!-- endif language -->
                {% endif %} <!-- endif not level -->
                {% if level %}
                <p>Your selected proficiency level is: <strong>{{ level }}</strong></p>
                {% endif %} <!-- endif level -->
                {% if language and level %}
                <form class="mt-3 mb-6" method="POST" action="/">
                  <button class="button is-info" type="submit" name="new_session">Create New Session</button>
                </form>
                {% if initial_prompt %}
                <div class="box">
                  <div class="columns is-vcentered">
                    <div class="column is-one-quarter">
                      <figure class="image is-48x48">
                        <img src="{{ url_for('static', filename='tutor.png') }}">
                      </figure>
                    </div>
                    <div class="column is-half has-text-centered">
                      <p class="text-to-dictate" data-prompt="{{ initial_prompt }}">{{ initial_prompt }}</p>
                    </div>
                    <div class="column is-one-quarter">
                      <figure class="dictate image is-48x48">
                        <img src="{{ url_for('static', filename='speaker.png') }}">
                      </figure>
                    </div>
                  </div>
                </div>

                {% for pr in prompts_and_responses %}
                  {% if pr[0].lower().endswith((".png", ".jpg", ".jpeg", ".gif")) or pr[0].startswith("data:") %}
                    <div class="box">
                      <p>Let's talk about this image:</p>
                      <div class="columns">
                        <div class="column is-4"></div>
                        <div class="column is-4">
                          <figure class="image is-4by3 mb-4">
                            <img src="{{ pr[0] }}">
                          </figure>
                        </div>
                        <div class="column is-4"></div>
                      </div>
                    </div>
                  {% else %}
                    <div class="box">
                      <p><em>(You)</em>{{ pr[0] }}</p>
                    </div>
                  {% endif %}
                  <div class="box">
                    <div class="columns is-vcentered">
                      <div class="column is-one-quarter">
                        <figure class="image is-48x48">
                          <img src="{{ url_for('static', filename='tutor.png') }}">
                        </figure>
                      </div>
                      <div class="column is-half has-text-centered">
                        <p class="text-to-dictate" data-prompt="{{ pr[1] }}">{{ pr[1] }}</p>
                      </div>
                      <div class="column is-one-quarter">
                        <figure class="dictate image is-48x48">
                          <img src="{{ url_for('static', filename='speaker.png') }}">
                        </figure>
                      </div>
                    </div>
                  </div>
                {% endfor %}

                <div class="buttons">
                  <button id="text-button" class="button is-info is-outlined">
                    <span class="icon is-small">
                      <i class="fas fa-comment-dots"></i>
                    </span>
                    <span>Enter Text</span>
                  </button>
                  <button id="audio-button" class="button is-info is-outlined">
                    <span class="icon is-small">
                      <i class="fas fa-microphone"></i>
                    </span>
                    <span>Record Audio</span>
                  </button>
                  <button id="image-button" class="button is-info is-outlined">
                    <span class="icon is-small">
                      <i class="fas fa-upload"></i>
                    </span>
                    <span>Upload Image</span>
                  </button>
                </div>

                <div id="text-div" class="box animated-box" style="display: none">
                  <p>In {{ language }}, type a response to the tutor's message in the box below.</p>
                  <div class="buttons are-small">
                    {% for accent in accents %}
                      <button class="button is-info is-outlined" onclick="appendAccent('{{ accent }}')">{{ accent }}</button>
                    {% endfor %}
                  </div>
                  <form id="text-form" method="POST" action="/process-text">
                    <div class="field is-grouped">
                      <p class="control is-expanded">
                        <input id="text-input" class="input is-info" type="text" name="text" placeholder="Enter your response...">
                      </p>
                      <p class="control">
                        <button class="button is-info" type="submit">
                            Submit
                        </button>
                      </p>
                    </div>
                  </form>
                </div>

                <div id="audio-div" class="box animated-box" style="display: none">
                  <p>Record yourself speaking in {{ language }} from your browser, then download the recording.</p>
                  <div class="buttons is-centered">
                    <button id="recordButton" class="button is-info" onclick="toggleRecording()">
                      <span id="recordIcon" class="icon is-small">
                        <i class="fas fa-microphone"></i>
                      </span>
                      <span id="recordButtonText">Click to start recording</span> <!--- Recording... 00:00 -->
                    </button>
                    <button id="recordSubmitButton" class="button is-info is-outlined" disabled>
                      <span>Download</span>
                      <span class="icon">
                        <i class="fas fa-download"></i>
                      </span>
                    </button>
                  </div>
                  <p class="mt-5">Upload Audio File Here</p>
                  <p>Supported audio formats: m4a, mp3, webm, mp4, mpga, wav, mpeg, ogg, oga, flac</p>
                  <div class="columns">
                    <div class="column is-3"></div>
                    <div class="column is-6">
                      <form id="audio-form" method="POST" action="/process-audio" enctype="multipart/form-data">
                        <div class="file has-name is-boxed is-fullwidth is-centered">
                          <label class="file-label">
                            <input class="file-input" type="file" name="audio" id="audio-input">
                            <span class="file-cta">
                              <span class="file-icon">
                                <i class="fas fa-upload"></i>
                              </span>
                              <span class="file-label">
                                Choose a file…
                              </span>
                            </span>
                            <span id="audio-file-name" class="file-name">
                              No file uploaded
                            </span>
                          </label>
                        </div>
                        <button id="uploadSubmitButton" class="button is-info is-outlined is-centered is-fullwidth mt-3" disabled>Submit</button>
                      </form>
                    </div>
                    <div class="column is-3"></div>
                  </div>
                </div>

                <div id="image-div" class="box animated-box" style="display: none">
                  <p>Upload an image to discuss its contents with the tutor.</p>
                  <p><em>Note: it may take up to 60 seconds for the image to process - only press the Submit button once.</em></p>
                  <p>Supported image formats: png, jpg, jpeg, gif</p>
                  <div class="columns">
                    <div class="column is-3"></div>
                    <div class="column is-6">
                      <form id="audio-form" method="POST" action="/process-image" enctype="multipart/form-data">
                        <div class="file has-name is-boxed is-fullwidth is-centered">
                          <label class="file-label">
                            <input class="file-input" type="file" name="image" id="image-input">
                            <span class="file-cta">
                              <span class="file-icon">
                                <i class="fas fa-upload"></i>
                              </span>
                              <span class="file-label">
                                Choose a file…
                              </span>
                            </span>
                            <span id="image-file-name" class="file-name">
                              No file uploaded
                            </span>
                          </label>
                        </div>
                        <button id="uploadImageSubmitButton" class="button is-info is-outlined is-centered is-fullwidth mt-3" disabled>Submit</button>
                      </form>
                    </div>
                    <div class="column is-3"></div>
                  </div>
                </div>

                {% endif %} <!-- endif initial_prompt -->
                {% endif %} <!-- endif language and level -->
            </div>
        </div>
    </div>
    <div class="spacer-box"></div> 
    <script>
      function appendAccent(accent) {
            const inputBox = document.getElementById('text-input');
            inputBox.value += accent;
        }
    </script>
    <script src="{{ url_for('static', filename='user_recording.js') }}"></script>
    <script>
      // Once audio is uploaded, enable the submit button and show file name in upload box
      document.addEventListener("DOMContentLoaded", () => {
        const audioInput = document.getElementById("audio-input");
        const submitButton = document.getElementById("uploadSubmitButton");
        const fileNameSpan = document.getElementById("audio-file-name");

        audioInput.addEventListener("change", () => {
          if (audioInput.files.length > 0) {
            submitButton.disabled = false;
            const fileName = audioInput.files[0].name;
            fileNameSpan.textContent = fileName;
          } else {
            submitButton.disabled = true;
            fileNameSpan.textContent = "No file uploaded";
          }
        });

        const imageInput = document.getElementById("image-input");
        const submitImageButton = document.getElementById("uploadImageSubmitButton");
        const imageFileNameSpan = document.getElementById("image-file-name");

        imageInput.addEventListener("change", () => {
          if (imageInput.files.length > 0) {
            submitImageButton.disabled = false;
            const imageFileName = imageInput.files[0].name;
            imageFileNameSpan.textContent = imageFileName;
          } else {
            submitImageButton.disabled = true;
            imageFileNameSpan.textContent = "No file uploaded";
          }
        });
      });
    </script>
</body>